<html>
  <head>
    {% include "_includes.html" %}
  <body>
    <div id="vm">
      <v-app>        
        <header>{% include "_navigation.html" %}</header>
        <v-main>
          <v-data-table
            :headers="headers"
            :items="user_exams"
          >
            <template v-slot:item.name="{ item }">
              <v-btn variant="text" :href="'/take_exam?id=' + item.raw.eid">[[ exams[item.raw.eid].name ]]</v-btn>
            </template>
            <template v-slot:item.can_take="{ item }">
              <v-checkbox v-model="item.raw.can_take" :disabled="true"></v-checkbox>
            </template>
          </v-data-table>
        </v-main>
      </v-app>
    </div>
    <script>
    const { createApp } = Vue
    const { createVuetify } = Vuetify
    
    const vuetify = createVuetify({ iconfont: "fa" })

    exams = {
      {%- for eid, e in exams.items() %}
        "{{eid}}": {
        eid: "{{eid}}", 
        name: "{{e.name}}", 
        time_alotted: {{e.time_alotted}},
        is_open: {{"true" if e.is_open else "false"}},
        structure: { {%- for sid, s in e.structure.items() %}
          "{{ sid }}": {amt: {{s.amt}}, points: {{s.points}}},
        {%- endfor %}
        }
      },
      {%- endfor %}
    }
    
    const app = createApp({
      data() {
        return {
          exams: exams,
          user: {{ user|tojson }},
          headers: [
            {title: 'Assignment', key: 'name'},
            {title: 'Score', key: 'best_score'},
            {title: 'Can Take (or retake)', key: 'can_take'},
          ]
        }
      },
      computed: {
        user_exams() {
          let lst = []
          exams = this.user.exams
          for (let eid in exams) {
            lst.push({eid: eid, ...exams[eid]})
          }
          return lst
        }
      },
      delimiters: ['[[',']]']
    })
    app.use(vuetify).mount('#vm')
    </script>
  </body>
</html>