<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    {% include "_includes.html" %}
</head>
<body>
  <div id="vm">
    <v-app>
    <header>{% include "_navigation.html" %}</header>
    <v-main>
      <v-btn href="/assigned">assigned exams</v-btn>
    </v-main>
    </v-app>
  </div>
  <script>
    const { createApp } = Vue
    const { createVuetify } = Vuetify
    
    const vuetify = createVuetify({ iconfont: "fa" })
    const app = createApp({
      data() {
        return {}
      },
      delimiters: ['[[',']]']
    })
    app.use(vuetify).mount('#vm')
  </script>
</body>
</html>