<html>
  <head>
    {% include '_includes.html' %}
    <style>
      .avatar-name {
        margin-left: 1em;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <v-app>
        <header>{% include '_navigation.html' %}</header>
        <v-main>
          <h1>Students</h1>
          <v-select
            v-model="selected_exam"
            :items="exams_list"
            item-title="name"
            item-value="eid"
            label="Exam"
          ></v-select>
          <v-data-table
            :headers="headers"
            :items="users_table_list"
            density="compact"
          >
            <template v-slot:item.student="{ item, index }">
              <v-avatar>
                <v-img :src="item.raw.user.profile_pic" :alt="item.raw.user.name"></v-img>
              </v-avatar>
              <strong class="avatar-name" v-html="item.raw.student" ></strong>
            </template>
            <template v-slot:item.can_take="{ item }">
              <v-checkbox v-model="item.value.can_take" @click="toggle_can_take(item.raw.user)"></v-checkbox>
            </template>
            
            <!-- <template v-slot:item.highest_score="{ item }">
              [[ percentage(new_users[item.raw.user.id], new_exams[selected_exam]) ]]
            </template> -->
            <template v-slot:item.comment="{ item }" class="text-right">
              <v-text-field v-model="comments[item.raw.user.id][selected_exam].text" @keyup.enter="save_comments(item.raw.user.id, selected_exam)" v-if="comments[item.raw.user.id][selected_exam].editing"></v-text-field>
              <span v-if="!comments[item.raw.user.id][selected_exam].editing">[[ comments[item.raw.user.id][selected_exam].text ]] </span><v-icon @click="comments[item.raw.user.id][selected_exam].editing=true" v-if="!comments[item.raw.user.id][selected_exam].editing" flat icon="mdi-pencil"></v-icon>
            </template>
          </v-data-table>
        </v-main>
      </v-app>
    </div>
    <script>
      const { createApp } = Vue
      const { createVuetify } = Vuetify

      const vuetify = createVuetify()

      exams = {
        {%- for eid, e in exams.items() %}
          "{{eid}}": {
          eid: "{{eid}}", 
          name: "{{e.name}}", 
          time_alotted: {{e.time_alotted}},
          is_open: {{"true" if e.is_open else "false"}},
          structure: { {%- for sid, s in e.structure.items() %}
            "{{ sid }}": {amt: {{s.amt}}, points: {{s.points}}},
          {%- endfor %}
          }
        },
        {%- endfor %}
      }
      
      const app = createApp({
        data() {
          return {
            _selected_exam: Object.values(exams)[0].eid,
            headers: [
              {title:'Student', key:'student'},
              // {title:"Exams", key:'exams'}, 
              {title:"Best Grade", key:'highest_score'},
              {title:'Current Take', key:'current_take'},
              {title:"Can Take/Retake", key:'can_take'},
              {title:"Comments", key:'comment', align: "end", sortable: false},
            ],
            new_users: {{users|tojson}}, // don't look
            new_exams: {{exams|tojson}},
            comments: {},
            timer: null,
            users: [],
            exams: exams
          }
        },
        computed: {
          selected_exam: {
            get() {
              return this._selected_exam
            },
            set(v) {
              this._selected_exam = v
            }
          },
          users_table_list: {
            get() {
              let tbl = []
              for (let uid in this.new_users) {
                u = this.new_users[uid]
                exam = u.exams[this.selected_exam] ?? {current_take: '', can_take: false}
                cell = {
                  student: u.name,
                  user: u, 
                  highest_score: this.percentage(this.new_users[uid], this.new_exams[this.selected_exam]) || '',
                  current_take: exam.current_take, 
                  can_take: exam.can_take
                }
                if (exam.best_grade != undefined) {
                  cell.best_grade = exam.best_grade
                }
                tbl.push(cell)
              }
              return tbl
            },
            set(v) {
              this.new_users = v
            }
          },
          exams_list() {
            let lst = []
            for (let e in this.exams) {
              this.exams[e].eid = e
              lst.push(this.exams[e])
            }
            return lst
          },
          async exams_table() {
            response = await fetch('/exam/list?authored=true', {
              method: 'GET',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              }
            })
            exams = await response.json();
            lst = []
            for (eid in exams) {
              e = exams[eid]
              e.id = eid
              lst.push(e)
            }
            return lst
          }
        },
        methods: {
          async toggle_can_take(student) {
            eid = this.selected_exam
            exam = student.exams[eid]
            action = 'assign'
            if (exam != undefined && exam.can_take) {
              action = 'unassign'
            }
            resp = await fetch('/user/' + student.id + '/' + eid + '/' + action, {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              }
            })
            exam = await resp.json()
            if (exam != null) {
              student.exams[eid] = exam
            }
          },
          total_score(exam) {
            let pnts = 0
            for(let qbid in exam.structure) {
              pnts += parseInt(exam.structure[qbid].amt) * parseInt(exam.structure[qbid].points)
            }
            return pnts
          },
          percentage(user, exam) {
            // console.log(user, this.new_users)
            ex = user.exams[exam.id]
            if (ex == undefined) {
              return null
            }
            return ~~(ex.highest_score / this.total_score(exam) * 100)
          },
          save_comments(uid, eid) {
            this.comments[uid][eid].editing = false
            localStorage.comments = JSON.stringify(this.comments)
            
          },
          load_comments() {
            lc = localStorage.comments
            if (lc) {
              this.comments = JSON.parse(lc)
            }
            for (let uid in this.new_users) {
              if (!this.comments[uid]) {
                this.comments[uid] = {}
              }
              for (let se in this.exams) {
                if (!this.comments[uid][se]) {
                  this.comments[uid][se] = {text: "", editing: false}
                }
              }
            }
          },
          async refresh_users() {
            resp = await fetch('/user', {
              method: 'GET',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              }
            })
            this.users_table_list = await resp.json()
          }
        },
        created() {
          this.load_comments()

          this.timer = setInterval(this.refresh_users.bind(this),1000*10)
        },
        delimiters: ['[[',']]']
      })
      app.use(vuetify).mount('#app')
    </script>
  </body>
</html>