<html>
  <head>
    {% include '_includes.html' %}
    <style>
      .avatar-name {
        margin-left: 1em;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <v-app>
        <header>{% include '_navigation.html' %}</header>
        <v-main>
          <h1>Students</h1>
          <v-select
            v-model="selected_exam"
            :items="exams_list"
            item-title="name"
            item-value="eid"
            label="Exam"
          ></v-select>
          <v-data-table
            :headers="headers"
            :items="users_table_list"
          >
            <template v-slot:item.student="{ item }">
              <v-avatar>
                <v-img :src="item.raw.student.profile_pic" :alt="item.raw.student.name"></v-img>
              </v-avatar>
              <strong class="avatar-name" v-html="item.raw.student.name"></strong>
            </template>
            <template v-slot:item.can_take="{ item }">
              <v-checkbox v-model="item.value.can_take" @click="toggle_can_take(item.raw.student)"></v-checkbox>
            </template>
          </v-data-table>
        </v-main>
      </v-app>
    </div>
    <script>
      const { createApp } = Vue
      const { createVuetify } = Vuetify

      const vuetify = createVuetify()

      exams = {
        {%- for eid, e in exams.items() %}
          "{{eid}}": {
          eid: "{{eid}}", 
          name: "{{e.name}}", 
          time_alotted: {{e.time_alotted}},
          is_open: {{"true" if e.is_open else "false"}},
          structure: { {%- for sid, s in e.structure.items() %}
            "{{ sid }}": {amt: {{s.amt}}, points: {{s.points}}},
          {%- endfor %}
          }
        },
        {%- endfor %}
      }
      
      const app = createApp({
        data() {
          return {
            _selected_exam: Object.values(exams)[0].eid,
            headers: [
              {title:'Student', key:'student'},
              // {title:"Exams", key:'exams'}, 
              {title:"Best Grade", key:'best_grade'},
              {title:'Current Take', key:'current_take'},
              {title:"Can Take/Retake", key:'can_take'},
            ],
            users: [{%- for uid, u in users.items() %}
              {
               id: "{{uid}}", 
               name: "{{u.name}}",
               profile_pic: "{{u.profile_pic}}",
               exams: {
                 {%- for eid, e in u.exams.items() %}
                 "{{eid}}": { 
                  can_take: {{"true" if e.can_take else "false" }},
                  current_take: {{ e.current_take }}
                 },
                 {%- endfor %}
               }
              },
            {% endfor -%}],
            exams: exams
          }
        },
        computed: {
          selected_exam: {
            get() {
              return this._selected_exam
            },
            set(v) {
              this._selected_exam = v
            }
          },
          users_table_list: {
            get() {
              let tbl = []
              for (let u of this.users) {
                exam = u.exams[this.selected_exam] ?? {current_take: 'not assigned', can_take: false}
                cell = {student: u, current_take: exam.current_take , can_take: exam.can_take}
                if (exam.best_grade != undefined) {
                  cell.best_grade = exam.best_grade
                }
                tbl.push(cell)
              }
              return tbl
            },
            set(v) {
              console.log('trying to set', v)
            }
          },
          exams_list() {
            let lst = []
            for (let e in this.exams) {
              this.exams[e].eid = e
              lst.push(this.exams[e])
            }
            return lst
          },
          async exams_table() {
            response = await fetch('/exam/list?authored=true', {
              method: 'GET',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              }
            })
            exams = await response.json();
            lst = []
            for (eid in exams) {
              e = exams[eid]
              e.id = eid
              lst.push(e)
            }
            return lst
          }
        },
        methods: {
          async toggle_can_take(student) {
            eid = this.selected_exam
            exam = student.exams[eid]
            action = 'assign'
            if (exam != undefined && exam.can_take) {
              action = 'unassign'
            }
            resp = await fetch('/user/' + student.id + '/' + eid + '/' + action, {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              }
            })
            exam = await resp.json()
            if (exam != null) {
              student.exams[eid] = exam
            }
          }
        },
        delimiters: ['[[',']]']
      })
      app.use(vuetify).mount('#app')
    </script>
  </body>
</html>