<html>
  <head>
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.15/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.15/dist/vuetify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.15/dist/vuetify-labs.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.15/dist/vuetify-labs.css">
    <style>
      .avatar-name {
        margin-left: 1em;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <v-app>
        <h1>Students</h1>
        <v-select
          v-model="selected_exam"
          :items="exams_list"
          item-title="name"
          item-value="eid"
          hide-details
          single-line
        ></v-select>
        <v-data-table
          :headers="headers"
          :items="users_table_list"
        >
          <template v-slot:item.student="{ item }">
            <v-avatar>
              <v-img :src="item.raw.student.pic" :alt="item.raw.student.name"></v-img>
            </v-avatar>
            <strong class="avatar-name" v-html="item.raw.student.name"></strong>
          </template>
          <template v-slot:item.can_take="{ item }">
            <v-checkbox v-model="item.can_take"></v-checkbox>
          </template>
        </v-data-table>
      </v-app>
    </div>
    <script>
      const { createApp } = Vue
      const { createVuetify } = Vuetify

      const vuetify = createVuetify()

      exams = {
        {%- for eid, e in exams.items() %}
          "{{eid}}": {
          eid: "{{eid}}", 
          name: "{{e.name}}", 
          time_alotted: {{e.time_alotted}},
          is_open: {{"true" if e.is_open else "false"}},
          structure: { {%- for sid, s in e.structure.items() %}
            "{{ sid }}": {amt: {{s.amt}}, points: {{s.points}}},
          {%- endfor %}
          }
        },
        {%- endfor %}
      }
      
      const app = createApp({
        data() {
          return {
            _selected_exam: Object.values(exams)[0].eid,
            headers: [
              {title:'Student', key:'student'},
              // {title:"Exams", key:'exams'}, 
              {title:'Current Take', key:'current_take'},
              {title:"Can Take/Retake", key:'can_take'}],
            users: [{%- for uid, u in users.items() %}
              {
               uid: "{{uid}}", 
               name: "{{u.name}}",
               pic: "{{u.profile_pic}}",
               exams: {
                 {%- for eid, e in u.exams.items() %}
                 "{{eid}}": {eid: "{{eid}}", 
                  can_take: {{"true" if e.can_take else "false" }},
                  current_take: {{ e.current_take }}
                 },
                 {%- endfor %}
               }
              },
            {% endfor -%}],
            exams: exams
          }
        },
        computed: {
          selected_exam: {
            get() {
              return this._selected_exam
            },
            set(v) {
              this._selected_exam = v
            }
          },
          users_table_list() {
            let tbl = []
            for (let u of this.users) {
              exam = u.exams[this.selected_exam] ?? {current_take: 'not assigned', can_take: false}
              tbl.push({student: u, current_take: exam.current_take , can_take: exam.can_take})
            }
            return tbl
          },
          exams_list() {
            let lst = []
            for (let e in this.exams) {
              lst.push(this.exams[e])
            }
            return lst
          },
          async exams_table() {
            response = await fetch('/exam/list?authored=true', {
              method: 'GET',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              }
            })
            exams = await response.json();
            lst = []
            for (eid in exams) {
              e = exams[eid]
              e.id = eid
              lst.push(e)
            }
            return lst
          }
        },
        delimiters: ['[[',']]']
      })
      app.use(vuetify).mount('#app')
    </script>
  </body>
</html>