<html>
  <head>
    {% include "_includes.html" %}
    <style>
      .radios > .v-selection-control {
        flex: 0 1;
      }
      pre {
        font-size: 15px;
        line-height: 1.5;
        padding: 10px;
        background-color: #f7f7f7;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow-x: auto;
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <div id="vm">
      <v-app>        
        <header>{% include "_navigation.html" %}</header>
        <v-main>
          <div class="d-flex align-center flex-column ">
            <v-card flat>Time Remaining: [[~(countdown/60) + 1]]:[[String(~(countdown%60)+1).padStart(2, '0')]]</v-card>
            <v-carousel height="100%" :show-arrows="false" v-model="question_index" hide-delimiters progress="primary">
              <v-carousel-item
                class="px-10"
                v-for="(q, i) in questions"  
              >
                <v-card class="pa-2" flat>
                  <template v-slot:title>[[question_index+1]]. <span class="text-wrap" v-html="q.text"></span></template>

                  <v-card-text>
                    <v-container>
                      <div v-if="q.type!=='Essay'" >
                        <v-radio-group v-if="q.type=='Single Answer'" v-model="take.progress[i].answer[0]">
                          <v-row class="align-center radios" v-for="choice in q.choices">
            <!--                 <v-col cols="12"> -->
                            <v-radio v-else :value="choice.id" class="pe-2 inline-radio" @click="radio_select(i, choice.id)"></v-radio>
                            <span v-html="choice.text"></span>
                          </v-row>
                        </v-radio-group>
                        <div v-else>
                          <v-row class="align-center" v-for="choice in q.choices">
            <!--                 <v-col cols="12"> -->
                              <v-checkbox-btn v-if="q.type=='Multiple Answer'" v-model="take.progress[i].answer" :value="choice.id" class="pe-2" @change="send_answer(i)"></v-checkbox-btn>
                              <span v-html="choice.text"></span>
                          </v-row>
                        </div>
                      </div>
                      <div v-else>
                        <v-text-field></v-text-field>
                      </div>
                    </v-container>
                  </v-card-text>
                  
                  <v-card-actions>
                    <v-btn icon="mdi-chevron-left" @click="prev" :disabled="question_index == 0">
                  
                    </v-btn>
                    <v-spacer v-else></v-spacer>
                    <v-dialog
                      v-model="finish_prompt"
                      persistent v-if="question_index==this.questions.length-1"
                    >
                      <template v-slot:activator="{ props }">
                        <v-btn v-bind="props">Submit</v-btn>
                      </template>
                      <v-card>
                        <v-card-title>Submit?</v-card-title>
                        <v-card-text>
                          Are you sure you want to submit? You may want to go back through and check your answers. <p v-if="incomplete_questions.length > 0">You have not yet completed the following <b>[[incomplete_questions.length]]</b> questions: <b>[[incomplete_questions]]</b></p>
                        </v-card-text>
                        <v-card-actions class="justify-end">
                          <v-btn @click="finish">Submit <v-progress-circular indeterminate color="green" v-if="finish_loading"></v-progress-circular></v-btn>
                          <v-btn @click="finish_prompt = false">Cancel</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                    <v-btn v-else icon="mdi-chevron-right" @click="next" :disabled="question_index == this.questions.length-1">
                  
                    </v-btn>
                  </v-card-actions>
                </v-card>
                <v-spacer></v-spacer>
              </v-carousel-item>
              <template v-slot:next="{ props }">
                <v-btn icon="mdi-chevron-right" @click="next" :disabled="question_index == this.questions.length-1">
                  
                </v-btn>
              </template>
              <template v-slot:prev="{ props }">
                <v-btn icon="mdi-chevron-left" @click="prev" :disabled="question_index == 0">
                  
                </v-btn>
              </template>
            </v-carousel>
            <div class="overflow-auto">
              <v-btn v-for="(q, i) in questions" density="compact" @click="goto_question(i)" :color="get_button_color(i)">[[i+1]]</v-btn>
            </div>
          </div>
          <!-- <v-progress-linear color="primary" :model-value="question_index/questions.length * 100"></v-progress-linear> -->
        </v-main>
      </v-app>
    </div>
    <script>
    const { createApp } = Vue
    const { createVuetify } = Vuetify
    
    const vuetify = createVuetify({ iconfont: "fa" })
    
    const app = createApp({
      data() {
        return {
          finish_prompt: false,
          finish_loading: false,
          question_index: 0,
          exam: {{exam|tojson}},
          user: {{user|tojson}},
          take: {{ take|tojson if take else 'false' }},
          questions: [
          ],
          now: Date.now()/1000
        }
      },
      computed: {
        can_take() {
          return this.user.exams[this.exam.id].can_take
        },
        countdown() {
          return  this.now - this.take.over_at
        },
        incomplete_questions() {
          incompletes=[]
          for (let i=0; i<this.take.progress.length; i++) {
            let p = this.take.progress[i]
            if (p.answer.length == 0) {
              incompletes.push(i+1)
            }
          }
          return incompletes
        }
      },
      methods: {
        next() {
          ni = Math.min(this.question_index+1, this.questions.length-1)
          this.question_index = ni
          this.load_question(ni)
          this.load_question(Math.min(ni+1, this.questions.length-1))
        },
        prev() {
          ni = Math.max(this.question_index-1, 0)
          this.question_index = ni
          this.load_question(ni)
          this.load_question(Math.max(ni-1, 0))
        },
        goto_question(i) {
          this.question_index = i
          this.load_question(i)
          ni = Math.min(this.question_index+1, this.questions.length-1)
          this.load_question(ni)
        },
        get_button_color(i) {
          if (this.question_index == i) {
            return "#afa"
          }
          if (this.take.progress[i].answer.length > 0) {
            return "#ddd"
          }
          return "#fff"
        },
        async radio_select(i, cid) {
          this.take.progress[i].answer = [cid]
          await this.send_answer(i)
        },
        async send_answer(i) {
          // console.log(this.take.progress[i].answer)
          try {
            resp = await fetch('/take/' + this.exam.id + '/progress', {
              method: 'PUT',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                i: i,
                answers: this.take.progress[i].answer
              })
            })
            if (resp.status == 403) {
              await this.finish()
            }
          } catch (error) {
            await this.send_answer(i)
          }
        },
        async load_question(i) {
          // i += 1
          if (this.questions[i].not_loaded) {
            resp = await fetch('/question/' + this.exam.id + '/' + i)
            if (resp.status == 403) {
              this.finish()
            }
            res = await resp.json()
            if (res == null) { // not sure why this ever is the case, but it is
              // TODO: snuff this out
              await this.load_question(i)
            } else {
              this.questions[i] = res
            }
          }
        },
        async finish() {
          this.finish_loading = true
          // bulk send answers in case some didn't make it
          let answers = []
          for (let p of this.take.progress) {
            answers.push(p.answer)
          }
          resp = await fetch('/take/' + this.exam.id + '/progress', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              answers: answers
            })
          })

          resp = await fetch('/take/' + this.exam.id + '/finish', {
            method: "POST"
          })
          this.question_index = 0
          window.location.replace('/prep_area/' + this.exam.id)
        },
        async check_timer() {
          this.now = Date.now()/1000
          if (this.now > this.take.over_at) {
            clearInterval(this.timer)
            await this.finish()
          }
        },
      },
      async mounted() {
        // load questions / fill with stubs
        let qs = 0
        for(let qbid in this.exam.structure) {
          qs += parseInt(this.exam.structure[qbid].amt)
        }
        if (!this.take) {
          this.take = {progress: [], over_at: Date.now()/1000 + this.exam.time_alotted * 60}
        }
        for (let i=0; i<qs; i++) {
          this.questions.push({
            text: 'Loading question...',
            type: 'Single Answer',
            choices: [],
            not_loaded: true
          })
          if (!this.take.progress[i]) {
            this.take.progress.push({answer: []})
          }
        }
        if (localStorage.question_index) {
          this.question_index = parseInt(localStorage.question_index)
        }
        await this.load_question(this.question_index)
        await this.load_question(Math.min(this.question_index+1, this.questions.length-1))

        // set take
        if (!this.take) {
          this.take = {
            exam: this.exam.id,
            over_at: Date.now()/1000 + this.exam.time_alotted*60,
            progress: {}
          }
        }
        
        // set timer
        this.timer = setInterval(this.check_timer.bind(this), 1000)
      },
      watch: {
        question_index(qi) {
          localStorage.question_index = qi;
        }
      },
      delimiters: ['[[',']]']
    })
    app.use(vuetify).mount('#vm')
    </script>
  </body>
</html>